.text-field {
    -fx-background-color: white;
    -fx-background-radius: 7;
    -fx-border-color: #d7d7d7;
    -fx-border-radius: 15;
    -fx-border-width: 1;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 14;
}

.text-field:hover {
    -fx-border-color: #468EE0;
}

.primary-button {
     -fx-border-radius: 10;
     -fx-background-radius: 10;
     -fx-background-color: #5B2866;
     -fx-text-fill: black;
     -fx-font-weight: bold;
}

.log-button {
    -fx-border-radius: 10;
     -fx-background-radius: 10;
     -fx-background-color: black;
     -fx-text-fill: white;
     -fx-font-weight: bold;
}

.primary-border {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: black;

}

.round-border {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.profile-button {
    -fx-background-color: #5B2866;
    -fx-border-color: #5B2866;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.radio-button .radio {
    -fx-shape: "M 0 5 A 5 5 0 1 1 0 4.9 Z";
    -fx-background-color: transparent;
    -fx-border-color: derive(#5B2866, 0%);
}

.radio-button:selected .radio > .dot {
    -fx-background-color: #5B2866;
}

.check-box .box {
    -fx-border-color: black;
    -fx-background-color: white;
}

.check-box:selected .mark {
    -fx-background-color: black;
}

.login-border {
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-width: 300;
    -fx-pref-height: 5;

}

.sign-in-border {
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-width: 350;
    -fx-pref-height: 5;
}

.sign-in-text {
    -fx-effect: dropshadow(black, rgba(0, 0, 0, 0.7), 1.5, 0, 10, 10);
    -fx-text-fill: black;
}

.notif-button {
    -fx-background-image: url('bell.png');
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-size: 40px
    -fx-padding: 0;
}

.notif-button:hover {
    -fx-background-color: #e0e0e0;
}

.transparent-scroll {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 20;
    -fx-line-spacing: 8px;
    -fx-background-color: transparent;
    -fx-pref-width: 720;
    -fx-pref-height: 390;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.metric-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 3);
}

.navigation-pill{
    -fx-padding: 5 15 5 15;
    -fx-background-color: #5B2866;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 3);
}

.navigation-notification{
    -fx-padding: 5 15 5 15;
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 3);
}

.start-button {
    -fx-background-color: #5B2866;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.log-water-pane {
    -fx-background-color: #5B2866;
    -fx-background-radius: 10;
}

.table {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 3); /* Lighter shadow */
}

.white {
    -fx-background-color: #FFFFFF;
}

.terms-color-pane {
    -fx-background-color: D8BDDE;
}

.anchor-pane {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #E8E8E8
}
